.grey-50 {
  color: #fafafa;
}
.grey-100 {
  color: #ececec;
}
.grey-150 {
  color: #dfdfdf;
}
.grey-200 {
  color: #d2d2d2;
}
.grey-250 {
  color: #b9b9b9;
}
.grey-300 {
  color: #acacac;
}
.grey-350 {
  color: #9f9f9f;
}
.grey-400 {
  color: #939393;
}
.grey-450 {
  color: #868686;
}
.grey-500 {
  color: #797979;
}
.grey-550 {
  color: #6c6c6c;
}
.grey-600 {
  color: #606060;
}
.grey-650 {
  color: #535353;
}
.grey-700 {
  color: #464646;
}
.grey-750 {
  color: #393939;
}
.grey-800 {
  color: #2d2d2d;
}
.grey-850 {
  color: #202020;
}
.grey-900 {
  color: #1b1b1a;
}
.green-400 {
  color: #6fcf97;
}
.green-500 {
  color: #27ae60;
}
.green-600 {
  color: #219653;
}
.natural-black {
  color: #060606;
}
.natural-white {
  color: #ffffff;
}
.yellow-500 {
  color: #f2c94c;
}
.orange-45 {
  color: rgba(239, 118, 42, 0.45);
}
.orange-100 {
  color: #fdf0e7;
}
.orange-200 {
  color: #fad1b8;
}
.orange-300 {
  color: #f6b389;
}
.orange-400 {
  color: #f29459;
}
.orange-500 {
  color: #ef782d;
}
.orange-600 {
  color: #d55c10;
}
.orange-700 {
  color: #a6480d;
}
.orange-800 {
  color: #763309;
}
.orange-900 {
  color: #471f05;
}
.blue-400 {
  color: #8ab7f5;
}
.blue-500 {
  color: #5b9bf1;
}
.blue-600 {
  color: #2f80ed;
}
.red-400 {
  color: #eb5757;
}
.red-500 {
  color: #ec222a;
}
.red-600 {
  color: #a40101;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  position: relative;
  background-image: url('./assets/images/backgroundImgBlur.svg');
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.background-blur {
  position: absolute;
}

/* Section 1 */

.sectionOne-express-header {
 
  justify-content: center;
  display: flex;
  gap: 20px;
}

.header-express-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

}

/* Section 2 */
.sectionTwo {
  margin-top: 20px;
  width: 100vw;
  padding-left: 15px;
}

/* step 1 */

.sectionTwo-stepOne {
  gap: 68px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sectionTwo-stepOne-enterTelephone-box {
  background-color: #2d2d2d;
  display: flex;
  padding-left: 15px;
  align-items: center;
  width: 100%;
  height: 48px;
  border-radius: 12px;
  backdrop-filter: blur(5px);
  margin-right: -10px;
}

.sectionTwo-stepOne-enterTelephone-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

/* step 2 */
.sectionTwo-stepTwo {
  padding-left: 11px;
  gap: 68px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sectionTwo-stepTwo-carImage-box {
  background-color: #2d2d2d;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 12px;
  backdrop-filter: blur(5px);
  margin-right: -10px;
}

/* step 3 */

.sectionTwo-stepThree {
  padding-left: 60px;
  gap: 68px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sectionTwo-stepThree-carBook-box {
  background-color: #2d2d2d;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 12px;
  backdrop-filter: blur(5px);
  margin-right: -10px;
}

/* Step 4 */

.sectionTwo-stepFour {
  padding-left: 76px;
  gap: 68px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sectionTwo-stepFour-sellPrice-box {
  background-color: #2d2d2d;
  display: flex;
  padding-left: 15px;
  align-items: center;
  width: 100%;
  height: 48px;
  border-radius: 12px;
}

.sectionTwo-stepFour-sellPrice-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

/* Section 3 */

.sectionThree {
  display: flex;
  flex-direction: column;
  margin-top: 95px;
  width: 100vw;
  align-items: center;
}

.button-sell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 40px;
  background-color: rgba(239, 118, 42, 0.45);
  border-radius: 16px;
}

.sectionFour-sell-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
